/* header */

.header {
    background-image: url('../images/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
}

.header__top {
    padding-top:5rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size:3.6rem;
}

.header__logo-link {
    color:var(--black);
    font-weight: 300;
}

.menu__list {
    display: flex;
}

.menu__item {
    padding:1.5rem;
}

.menu__link {
    color:var(--black);
    font-size:1.8rem;
    display: block;
}

.menu__item:hover {
    border: 0.4px solid var(--black);
    border-radius: 2rem;
}

.header__content {
    margin-top:20rem;
    text-align: center;
}

.header__content-heading {
    font-size:4.8rem;
    color:var(--black);
    font-weight: bold;
    margin-bottom:1.5rem;
}

.header__content-text {
    font-size: 1.8rem;
    color:var(--gray-light);
    margin-bottom:7rem;
}

.header__bottom {
    margin-top:41rem;
    text-align: center;
    padding-bottom:25rem;
}

.header__bottom-text {
    font-size:1.4rem;
    color: var(--gray-light);
    margin-top:1rem;
}

.header__bottom-img {
    margin:0 auto;
}

.btn {
    display: block;
    width: 20rem;
    height: 5rem;
    background-image: linear-gradient(to right,#49007c,#b70084);
    border-radius: 5rem;
    border:none;
    color:var(--white);
    font-size:1.8rem;
    cursor: pointer;
}

.btn--center {
    margin:0 auto;
}

@media screen and (max-width: 992px) {
    .header__top {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        font-size:6.25vw;
    }
    
    .header__top {
        display: block;
    }

    .menu-toggle {
        display: block !important;
        position: fixed;
        top: 5rem;
        right: 1.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        color:var(--black);
        background-color: var(--white);
        text-align: center;
        border-radius: 50%;
        line-height: 5rem !important;
        border: 1px solid var(--black);
        z-index:5;
    }
    
    .menu-close {
        display: block !important;
        font-size: 5rem;
        color: var(--gray-light);
        position: absolute;
        top: 5rem;
        right: 1.5rem;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index:10;
        margin:0;
        width:0;
        height: 100%;
        overflow-y: hidden;
        transition: 0.25s linear;
    }

    .menu__list {
        flex-direction: column;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .menu__link {
        color: var(--gray-light);
        font-size:7vw;
    }
}
/* feature*/

.feature {
    display: flex;
    margin-top:-15rem;
}

.feature__content-wrap {
    width: 50%;
    position: relative;
    padding: 13rem 0 13.5rem;
}

.feature__content-heading {
    font-size: 4.8rem;
    color:var(--white);
    font-weight: 300;
    margin-bottom:1.5rem;
}

.feature__content-text {
    font-size:1.8rem;
    color:var(--gray-light);
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 2.5rem;
}

.feature__content-wrap:first-child {
    background-image: url('../images/left-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature__content-wrap:last-child {
    background-image: url('../images/right-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature__content {
    max-width: 67.5rem;
}

.feature__content-wrap:first-child .feature__content {
    position: absolute;
    right:0;
    padding-right: 8rem;
}

.feature__content-wrap:last-child .feature__content {
    padding-left: 8rem;
}

@media screen and (max-width:1320px) {
    .feature__content-wrap .feature__content:first-child {
        padding-right: 4rem;
        position: static;
    }

    .feature__content-wrap .feature__content:last-child {
        padding-left: 4rem;
    }
}

@media screen and (max-width:768px) {
    .feature {
        flex-wrap: wrap;
    }

    .feature__content-wrap {
        width: 100%;
        height: 50%;
    }

    .feature .btn {
        margin: 0 auto;
    }
}

/* work */

.work {
    padding:10rem 0;
}

.work__heading {
    font-size:4.8rem;
    color: var(--black);
    font-weight: bold;
    text-align: center;
    margin-bottom:10rem;
}
.work__block-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__item {
    width:45%;
    display: flex;
    margin-bottom:7rem;
}

.work__item-img {
    width:25%;
    height: 80%;
}

.work__item-content {
    width:75%;
    padding-left:2.5rem;
}

.work__item-content-heading {
    font-size:3rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 2.5rem;
}

.work__item-content-text {
    font-size:1.8rem;
    font-weight: 300;
    color:var(--gray-light);
    line-height: 2.5rem;
}

.work button {
    margin-top:4rem;
}

@media screen and (max-width:1200px) {
    .work__item {
        width:48%;
    }
}

@media screen and (max-width:992px) {
    .work__item {
        flex-direction: column;
        align-items: center;
    }

    .work__item-content {
        width: 85%;
    }

    .work__item-content-heading {
        text-align: center;
        margin-top:2rem;
    }

}

@media screen and (max-width:768px) {
    .work__block-item {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .work__item {
         width: 100%;
    }
}

/* slide */

.slide {
    position: relative;
    height: 45rem;
}

.slide__block-item {
    display: flex;
    height: 100%;
}

.slide__item {
    background-image: url('../images/slide_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__item {
    width:33.33%;
}

.slide__item:nth-child(2) {
    width:33.34%;
    position: relative;
    background-image: url('../images/slide_2.jpg');
}

.slide__item:last-child {
    background-image: url('../images/slide_3.jpg');
}

.slide__item-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index:2;
}

.black-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--black);
    opacity: 0.5;
    z-index:1;
}

.slide__item-content-heading {
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom:2.5rem;
}

.slide__item-content-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white);
    margin-bottom:6rem;
    line-height: 2.3rem;
}

.slide__item-img img {
    width: 100%;
    height: 100%;
}

.prev, .next {
    position: absolute;
    top:50%;
    background-color: var(--white);
    height: 6rem;
    width: 6rem;
    color: var(--gray-light);
    font-size:4rem;
    line-height: 6rem;
    transform: translateY(-50%);
    text-align: center;
    z-index:4;
}

.next {
    right: 0;
}

@media screen and (max-width:992px) {
    .slide .slide__item {
        width: 50%;
    }
    
    .slide__item:last-child {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .slide__item:first-child {
        display: none;
    }
    
    .slide .slide__item {
        width: 100%;
    }
}

@media screen and (max-width:475px) {
    .next, .prev {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
    }
}

/* about */

.about {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 11rem 0;
}

.about__content {
    display: flex;
    justify-content: space-evenly;
}

.about__heading {
    font-size:4.8rem;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin-bottom:3rem;
}

.about__desc {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--gray-light);
    text-align: center;
    margin-bottom: 11.5rem;
    max-width: 72rem;
    margin-left:auto;
    margin-right: auto;
    line-height: 2.5rem;
}

.member {
    width: 18%;
}
.member__img {
    margin: 0 auto;
}

.member__name {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin: 2rem 0;
}

.member__desc {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--gray-light);
    text-align: center;
    margin-bottom:11rem;
    line-height: 2.5rem;
}

@media screen and (max-width:992px) {
    .about__content {
        flex-wrap: wrap;
    }
    
    .member {
        width: 40%;
    }
}

@media screen and (max-width:768px) {
    .member {
        width: 80%;
    }
}

/* map */

.map {
    min-height: 60rem;
    background-image: url('../images/map.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

.footer {
    min-height: 35rem;
    text-align: center;
    padding-top: 7rem;
}

.footer__text {
    font-size: 1.8rem;
    color: var(--gray-light);
    font-weight: 300;
    line-height: 2.5rem;
}


